  <div class="widget-wrap author">
    <h3 class="widget-title">&nbsp;</h3>
    <div class="widget">
      <div class="avatar">
        <img src="/images/avatar.png" >
      </div>
      <div class="info">
        <ul>
          <li>
            <h3>韩忠康</h3>
            <wb:follow-button uid="5846559498" type="red_1" width="67" height="24" ></wb:follow-button>
            <a href="https://github.com/hanzkering" class="fa-icon fa-github" > GitHub</a>
          </li>
          <li>程序员，培训讲师</li>
        </ul>
      </div>
    </div>
  </div>